@model Practica1.Domain.Entities.Product

<h2>Crear Producto</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Nombre</label>
        <input asp-for="Name" />
    </div>

    <div>
        <label>Precio</label>
        <input asp-for="Price" />
    </div>

    <button type="submit">Guardar</button>
</form>