@model Practica1.Domain.Entities.Product

<h2>Eliminar Producto</h2>

<p>¿Seguro que quieres eliminar este producto?</p>

<div>
    <strong>@Model.Name</strong> - $@Model.Price
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Eliminar</button>
</form>