@model List<Practica1.Domain.Entities.Product>

    <h2>Productos</h2>

    <a href="/Product/Create">Crear</a>

    <table>
        @foreach(var p in Model)
{
    <a href="/Product/Delete/@p.Id">Eliminar</a>
    <a href="/Product/Edit/@p.Id">Editar</a>
        <tr>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td><a href="/Product/Delete/@p.Id">Eliminar</a></td>
        </tr>
}
    </table>
